*.suo
/Hinox/.vs/UnitTestBase/v15/Server/sqlite3
/Hinox/Hinox.BackgroundService/obj
/Hinox/Hinox.Data.Elasticsearch/bin/
/Hinox/Hinox.Data.Elasticsearch/obj/*
**/obj/
**/bin/
/PetHub/Manager/.vs/PetHub.Manager/DesignTimeBuild/.dtbcache
/PetHub/Manager/.vs/PetHub.Manager/v15/Server/sqlite3/db.lock
/PetHub/Manager/.vs/PetHub.Manager/v15/Server/sqlite3/storage.ide
/PetHub/Manager/.vs/PetHub.Manager/v15/Server/sqlite3/storage.ide-shm
/PetHub/Manager/.vs/PetHub.Manager/v15/Server/sqlite3/storage.ide-wal
/PetHub/Manager/.vs/PetHub.Manager/v16/Server/sqlite3/db.lock
/PetHub/Manager/.vs/PetHub.Manager/v16/Server/sqlite3/storage.ide
/PetHub/Manager/WebApp/node_modules/
/Hinox/.vs/
