<div class="page-container">
    <div class="page-container_shadow">
        <div class="page-bar">
            <div class="row">
                <div class="col-lg-12">
                    <a type="button" class="btn-wheel" href="https://lophocmatngu.com">
                        <div class="div-btn-wheel">
                            <img src="~/images/bar/home.png" />
                            <span>TRANG CHỦ</span>
                        </div>
                    </a>
                    <a type="button" class="btn-wheel" href="#">
                        <div class="div-btn-wheel">
                            <img src="~/images/bar/san-pham.png" style="width:15px;max-width:15px" />
                            <span style="padding-left:20px">SẢN PHẨM</span>
                        </div>

                    </a>
                    <a type="button" class="btn-wheel" href="#" id="popup-help">
                        <div class="div-btn-wheel">
                            <img src="~/images/bar/the-le.png" style="width:15px;max-width:15px;top:8px" />
                            <span style="padding-left:20px">THỂ LỆ</span>
                        </div>
                    </a>
                    <a type="button" class="btn-wheel" href="#">
                        <div class="div-btn-wheel">
                            <img src="~/images/bar/hotro.png" />
                            <span style="padding-left:20px">HỖ TRỢ</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-lucky-wheel">
            <img src="~/images/vong_xoay/text-vong-quay.png" style="max-width:15%" />
        </div>
        <div class="page-wheel">
            <div class="light-wheel">
                <div class="flash-wheel">
                    <div class="elipse-wheel">
                        <div class="border-wheel">
                            <div id="chart"></div>
                            <div class="actor-men">
                                <img src="~/images/vong_xoay/nhan-vat-nam.png" style="max-width:40%" />
                            </div>
                            <div class="actor-women">
                                <img src="~/images/vong_xoay/nhan-vat-nu.png" style="max-width:45%" />
                            </div>
                            <div class="actor-blue">
                                <img src="~/images/vong_xoay/nhan-vat-mau-xanh.png" style="max-width:45%" />
                            </div>
                            <div class="dice">
                                <img src="~/images/labai/xuc-sac.png" style="max-width:75%" />
                            </div>
                            <div class="card-red">
                                <img src="~/images/labai/la-bai-do.png" style="max-width:70%" />
                            </div>
                            <div class="card-page">
                                <img src="~/images/labai/card.png" style="max-width:70%" />
                            </div>
                            <div class="card-blue">
                                <img src="~/images/labai/la-bai-xanh.png" style="max-width:70%" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="page-footer">
            <div class="row">
                <div class="col-lg-12">
                    <img src="~/images/footer/logo-mat-ngu.png" style="max-width:50%;" />
                    <img src="~/images/footer/logo-bg.png" style="max-width:50%;margin-left:20px" />
                    <img src="~/images/footer/logo-zoo.png" style="max-width:50%;margin-left:20px" />
                    <img src="~/images/footer/phone.png" style="max-width:50%;margin-left:20px" />
                    <span class="footer-phone">
                        096.991.4344
                    </span>
                    <img src="~/images/bar/home.png" style="max-width:50%;margin-left:20px" />
                    <span class="footer-phone">
                        LOPHOCMATNGU.COM
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="out-of-turn-modal" role="dialog">
    <div class="modal-dialog">
        <div class="page-container-login">
            <div class="page-container-login_shadow">
                <div class="page-content">
                    <div class="page-bar-content">
                        <div class="row" style="margin:auto">
                            <div class="w-25" style="z-index:2">
                                <div class="page-bar-content_img">
                                    <img src="~/images/login/nhan-vat-nu.png" />
                                </div>
                            </div>
                            <div class="w-75" style="z-index:1">
                                <div class="page-bar-content_text">
                                    <div class="page-bar-content_text__top">
                                        <span>CHÀO MỪNG</span>

                                    </div>
                                    <div class="page-bar-content_text__bot">
                                        ĐẾN VŨ TRỤ LỚP HỌC MẬT NGỮ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-info">
                        <div style="position: absolute;top: -72px;left:47px">
                            <div class="col-lg-12 col-xl-12" style="margin:auto">
                                <div class="img-wheel">
                                    <img src="~/images/login/vong-quay.png" />
                                </div>
                            </div>
                        </div>

                        <div style="margin-top:60px;background:url(/images/login/hieu-ung2.png);    ">
                            <div class="col-lg-12 col-xl-12 pading-7" style="margin:auto">
                                <div class="text-info-login">
                                    TIẾC QUÁ! BẠN HẾT LƯỢT QUAY MẤT RỒI. NHẬP MÃ COUPON ĐỂ THỰC HIỆN LƯỢT QUAY MỚI NHÉ!
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-12 pading-7" style="margin:auto">
                                <div class="text-info-login" style="font-size:12px">
                                    <i>MỌI THẮC MẮC XIN LIÊN HỆ HOTLINE: 096.991.4344<br />XIN CẢM ƠN!</i>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="position:relative">
                            <div class="img-login-footer">
                                <img src="~/images/login/nhan-vat-nam.png" style="max-width:50%" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:40px;padding-bottom:40px">
                            <div class="col-lg-12 col-xl-12" style="margin:auto">
                                <a href="javascrip:0" class="button-login">
                                    NHẬP MÃ
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="popup-error-modal" role="dialog">
    <div class="modal-dialog">
        <div class="page-container-login">
            <div class="page-container-login_shadow">
                <div class="page-content">
                    <div class="page-bar-content">
                        <div class="row" style="margin:auto">
                            <div class="w-25" style="z-index:2">
                                <div class="page-bar-content_img">
                                    <img src="~/images/login/nhan-vat-nu.png" />
                                </div>
                            </div>
                            <div class="w-75" style="z-index:1">
                                <div class="page-bar-content_text">
                                    <div class="page-bar-content_text__top">
                                        <span>CHÀO MỪNG</span>

                                    </div>
                                    <div class="page-bar-content_text__bot">
                                        ĐẾN VŨ TRỤ LỚP HỌC MẬT NGỮ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-info">
                        <div style="position: absolute;top: -72px;left:47px">
                            <div class="col-lg-12 col-xl-12" style="margin:auto">
                                <div class="img-wheel">
                                    <img src="~/images/login/vong-quay.png" />
                                </div>
                            </div>
                        </div>

                        <div style="margin-top:60px;background:url(/images/login/hieu-ung2.png);    ">
                            <div class="col-lg-12 col-xl-12 pading-7" style="margin:auto">
                                <div class="text-info-login">
                                    MÃ VOUCHER CỦA BẠN KHÔNG ĐÚNG. VUI LÒNG NHẬP LẠI
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-12 pading-7" style="margin:auto">
                                <div class="text-info-login" style="font-size:12px">
                                    <i>MỌI THẮC MẮC XIN LIÊN HỆ HOTLINE: 096.991.4344<br />XIN CẢM ƠN!</i>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="position:relative">
                            <div class="img-login-footer">
                                <img src="~/images/login/nhan-vat-nam.png" style="max-width:50%" />
                            </div>
                        </div>
                        <div class="row" style="margin-top:40px;padding-bottom:40px">
                            <div class="col-lg-6 col-xl-6" style="margin:auto">
                                <a href="javascrip:0" class="button-login">
                                    NHẬP LẠI
                                </a>
                            </div>
                            <div class="col-lg-6 col-xl-6" style="margin:auto">
                                <a href="javascrip:0" class="button-login">
                                    ĐÓNG
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="popup-success-modal" role="dialog">
    <div class="modal-dialog">
        <div class="page-container-login">
            <div class="page-container-login_shadow">
                <div class="page-content">
                    <div class="page-bar-content">
                        <div class="row" style="margin:auto">
                            <div class="w-25" style="z-index:2">
                                <div class="page-bar-content_img">
                                    <img src="~/images/login/nhan-vat-nu.png" />
                                </div>
                            </div>
                            <div class="w-75" style="z-index:1">
                                <div class="page-bar-content_text">
                                    <div class="page-bar-content_text__top">
                                        <span>CHÀO MỪNG</span>

                                    </div>
                                    <div class="page-bar-content_text__bot">
                                        ĐẾN VŨ TRỤ LỚP HỌC MẬT NGỮ
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-info">
                        <div style="position: absolute;top: -72px;left:47px">
                            <div class="col-lg-12 col-xl-12" style="margin:auto">
                                <div class="img-wheel">
                                    <img src="~/images/login/vong-quay.png" />
                                </div>
                            </div>
                        </div>

                        <div style="margin-top:30px;background:url(/images/login/hieu-ung2.png);    ">
                            <div class="col-lg-12 col-xl-12 pading-7" style="margin:auto">
                                <div class="text-info-login">
                                    CHÚC MỪNG BẠN ĐÃ TRÚNG
                                </div>
                                <div class="text-info-receive">
                                    x1<i> Truyện tranh LMHN</i>
                                </div>
                                <div class="img-gift">
                                    <img src="~/images/login/gift.png" style="max-width:50%" />
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-12 pading-7" style="margin:auto">
                                <div class="text-info-login" style="font-size:12px">
                                    <i>Bộ phận CSKH sẽ liên hệ với bạn trong vòng 48 tiếng để trao quà!<br />Xin cảm ơn và chúc bạn chơi game vui vẻ !</i>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top:40px;padding-bottom:40px">
                            <div class="col-lg-12 col-xl-12" style="margin:auto">
                                <a href="javascrip:0" class="button-login">
                                    ĐÓNG
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="popup-help-modal" role="dialog">
    <div class="modal-dialog modal-dialog-help">
        <div class="modal-content">
            <div class="image-wheel">
                <img src="~/images/login/vong-quay.png" />
            </div>
            <div class="modal-header header-help">
                <div class="modal-title title-help">HƯỚNG DẪN THAM GIA VÒNG QUAY</div>
                <a type="button" class="close img-close-popup" data-dismiss="modal" href="javascrip:0">
                    <img src="~/images/login/close-popup.png" />
                </a>
                <div class="image-girl">
                    <img src="~/images/login/nhan-vat-nu.png" />
                </div>
            </div>
            <div class="modal-body" style="background-color:#0f2f9c;padding: 7px;padding-top: 0px !important;">
                <div class="modal-body-help">
                    <div class="w-100 text-info-help">
                        <div class="col-lg-12">
                            <span style="color:white">
                                <span style="color:#ffc600">BƯỚC 1</span>
                                : Truy tìm ngay Mã coupon trong phiếu quà tặng được chứa trong hộp board game lớp học mật ngũ mà bạn đã mua <br />...tèng teng... thấy mã rồi nè
                            </span>
                        </div>
                        <div class="col-lg-12">
                            <span style="color:white">
                                <span style="color:#ffc600">BƯỚC 2</span>
                                : Truy tìm ngay Mã coupon trong phiếu quà tặng được chứa trong hộp board game lớp học mật ngũ mà bạn đã mua <br />...tèng teng... thấy mã rồi nè
                            </span>
                        </div>
                        <div class="col-lg-12">
                            <span style="color:white">
                                <span style="color:#ffc600">BƯỚC 3</span>
                                : Truy tìm ngay Mã coupon trong phiếu quà tặng được chứa trong hộp board game lớp học mật ngũ mà bạn đã mua <br />...tèng teng... thấy mã rồi nè
                            </span>
                        </div>
                        <div class="col-lg-12">
                            <span style="color:white">
                                <span style="color:#ffc600">BƯỚC 4</span>
                                : Truy tìm ngay Mã coupon trong phiếu quà tặng được chứa trong hộp board game lớp học mật ngũ mà bạn đã mua <br />...tèng teng... thấy mã rồi nè
                            </span>
                        </div>
                        <div class="col-lg-12">
                            <span style="color:white">
                                <span style="color:#ffc600">BƯỚC 5</span>
                                : Truy tìm ngay Mã coupon trong phiếu quà tặng được chứa trong hộp board game lớp học mật ngũ mà bạn đã mua <br />...tèng teng... thấy mã rồi nè
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="img-footer-left-help">
                                <img src="~/images/login/toc-hong.png" style="max-width:50%" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="img-footer-right-help">
                                <img src="~/images/login/xuc-xac.png" style="max-width:50%" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<style>

    body {
        margin-bottom: 0px;
    }

    .page-container {
        /*background: url("/images/backgound.png") no-repeat;
        height: 100vh;
        background-size: 100% 100%;*/
        background-color: #0c051d;
    }

    .container {
        max-width: 100%;
        padding: 0px;
    }
    .page-container_shadow {
        background: url("/images/back-ground-new.png") no-repeat;
        height: 100vh;
        background-size: 100% 100%;
    }
    .page-bar, .page-footer {
        text-align: center;
        padding-top: 20px;
        margin-left: 20%;
        margin-right: 20%;
    }
    #chart {
        position: absolute;
        top: 4px;
        left: -4px;
        z-index:10;
    }
    a:hover{
        text-decoration:none !important;
        color:#fff;
    }
    .btn-wheel {
        color: #fff;
        display: flex;
        position: relative;
        box-sizing: border-box;
        display: inline-block;
        height: auto;
        background-color: #D800DB;
        border: 1px solid inherit !important;
        border-radius: 10px;
        font-family: FontButton;
        font-size: 16px;
        white-space: nowrap;
        cursor: pointer;
        text-transform: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        vertical-align: middle;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding: 2px;
        margin-left: 20px;
        min-width: 90px;
    }
    .div-btn-wheel {
        position:relative;
        border-radius: 10px;
        /*-moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;*/
        box-shadow: inset 2px 2px 0px #b3009b;
    }
        .div-btn-wheel > img {
            max-width: 13px;
            position: absolute;
            top: 5px;
        }
        .div-btn-wheel > span {
           padding-left:15px;
        }
        .actor-men {
            position: absolute;
            right: -300px;
            z-index: 1;
        }
    .footer-phone {
        font-family: FontButton;
        font-size: 20px;
        color: #fff;
        vertical-align: middle;
    }
    .actor-women {
        position: absolute;
        left: -160px;
        z-index: 1;
    }
    .actor-blue {
        position: absolute;
        left: -240px;
        bottom: 0px;
    }
    .dice {
        position: absolute;
        right: -40px;
        bottom: -30px;
    }
    .card-blue {
        position: absolute;
        right: -30px;
        bottom: 60px;
    }
    .card-red {
        position: absolute;
        left: -110px;
        z-index: 1;
    }
    .card-page {
        position: absolute;
        left: -160px;
        bottom: 70px;
    }
    .page-wheel, .text-lucky-wheel {
        text-align: center;
        width: 100%;
        margin-top: 20px
    }
    .light-wheel {
        width: 400px;
        height: 400px;
        margin: auto;
        background: url("/images/vong_xoay/tia-sang.png") no-repeat;
        background-size: 100% 100%;
    }
    .flash-wheel {
        width: 385px;
        height: 385px;
        margin: auto;
        background: url("/images/vong_xoay/den-nhay.png") no-repeat;
        background-size: 100% 100%;
    }
    .elipse-wheel {
        width: 370px;
        height: 385px;
        margin: auto;
        background: url("/images/vong_xoay/elipse.png") no-repeat;
        background-size: 100% 100%;
    }
    .border-wheel {
        width: 340px;
        height: 370px;
        margin: auto;
        background: url("/images/vong_xoay/vong-bao-quanh.png") no-repeat;
        background-size: 100% 100%;
        position:relative;
    }
    /*sâs*/
    .page-bar-content_img {
        z-index: 2;
    }

        .page-bar-content_img > img {
            float: left;
        }

    @@media (min-width: 991px) {
        .page-bar-content_img > img {
            float: right;
            max-width: 150%;
        }

        .page-bar-content_text {
            width: 75%;
            position: absolute;
            text-align: left;
            top: 12px;
            left: calc(25% - 20px);
        }
        /*.page-bar-content {
            width: 100%;
            position: relative;
            margin-left: 10%
        }*/
    }

    @@media (max-width: 991px) {
        .page-bar-content_img > img {
            float: right;
            max-width: 100%;
        }

        .page-bar-content_text {
            width: 75%;
            position: absolute;
            text-align: left;
            left: calc(25% - 24px);
        }
        /*.page-bar-content {
            width: 100%;
            position: relative;
        }*/
    }

    .page-bar-content {
        position: absolute;
        top: -135px;
    }

    .page-bar-content_text__top {
        font-family: ObelixPro;
        color: #f6cf2e;
        font-size: 18px;
        width: 100px;
        background-color: #1d0052;
        border-radius: 6px;
        padding-left: 21px;
    }

    .page-bar-content_text__bot {
        font-family: ObelixPro;
        color: #fff;
        font-size: 18px;
        width: 230px;
        background-color: #1d0052;
        border-radius: 6px;
        padding-left: 21px;
        margin-top: -4px;
    }

    .img-wheel {
    }

        .img-wheel > img {
            max-width: 50%;
        }

    .text-info-login {
        font-family: UTMAVOBOLD;
        color: #fff;
        font-size: 15px;
        padding-top: 10px;
    }

    .input-info-login {
        background-color: #fff;
        border: 1px solid #ddd;
        height: 34px;
        min-width: 200px;
        border-radius: 17px 17px;
        display: flex;
    }

    .input-info-login_text {
        font-family: UTMAVO;
        font-size: 13px;
        padding: 6px 8px;
        color: black;
        font-weight: bold;
        text-align: left;
    }

    .input-info-login_input {
        font-family: UTMAVO;
        font-size: 13px;
        padding-right: 10px;
    }

        .input-info-login_input > input {
            border: none;
            padding: 6px;
        }

            .input-info-login_input > input:focus {
                outline: none;
            }

    .pading-7 {
        padding: 7px;
    }

    .button-login {
        height: 34px;
        border: 1px solid #ddd;
        border-radius: 17px 17px;
        font-family: UTMAVOBOLD;
        font-size: 16px;
        padding: 6px 8px;
        color: white;
    }

    .img-login-footer {
        position: absolute;
        right: -1px;
        top: -10px;
        right: -80px;
    }

    .page-container-login_shadow {
        background: url("/images/login/backgound-nen.png") no-repeat;
        background-size: 100% 100%;
    }

    .page-container-login {
        background: url("/images/login/background-login.png") no-repeat;
        background-size: 100% 100%;
    }

    .page-content {
        text-align: center;
        padding-top: 20px;
        padding-left: 10%;
        padding-right: 10%;
        margin: auto;
    }

    .modal-dialog {
        margin-top: 10rem !important;
        width: 370px;
    }

    .text-info-receive {
        padding-top:6px;
        font-size: 12px;
        font-family: UTMAVO;
        color: #ffc600;
    }

    .img-gift {
        margin-top: 10px;
    }
    .header-help {
        background-color: #122db4;
    }
    .header-help {
        color: white;
        font-family: ObelixPro;
        font-size:16px;
        z-index:2;
    }
    .title-help {
        text-align:center;
        width: 100%;
    }
    .image-girl {
        position: absolute;
        left: -25px;
        top: -25px;
    }
    .image-girl > img{
        max-width: 50%;
    }
    .image-wheel {
        position: absolute;
        width: 100%;
        left: calc(50% - 70px);
        top: -105px;
        z-index: 1;
    }
    .image-wheel > img{
        max-width:35%;
    }
    .img-close-popup {
        position: absolute;
        right: -30px;
        top: -12px;
        -webkit-appearance: none;
        opacity: 1 !important;
        padding:0px !important;
        margin:0px !important;
    }
    .img-close-popup > img{
        max-width:50%;
    }
    .text-info-help {
        font-size: 12px;
        font-family: UTMAVOBOLD;
        text-transform: uppercase;
        margin-bottom:15px;
    }
    .modal-body-help {
        border: 2px solid #216ae7;
        border-radius: 4px;
        background-color: #091a6d;
        padding-top: 15px
    }
    .modal-dialog-help {
        margin-top: 8rem !important;
    }
    .img-footer-left-help {
        position: absolute;
        top: -105px;
        left: -50px;
    }
    .img-footer-right-help {
        position: absolute;
        right: -60px;
        top: -60px;
    }
    .hide-flash {
        -webkit-animation: FLASH-ANIMATION 1s infinite; /* Safari 4+ */
        -moz-animation: FLASH-ANIMATION 1s infinite; /* Fx 5+ */
        -o-animation: FLASH-ANIMATION 1s infinite; /* Opera 12+ */
        animation: FLASH-ANIMATION 1s infinite; /* IE 10+, Fx 29+ */
    }

    @@-webkit-keyframes FLASH-ANIMATION {
        0%, 49% {
            width: 385px;
            height: 385px;
            margin: auto;
            background: url("/images/vong_xoay/den-nhay.png") no-repeat;
            background-size: 100% 100%;
        }
        50%, 100% {
            width: 385px;
            height: 385px;
            margin: auto;
            background: none;
        }
    }
</style>
<script>
    var padding = { top: 40, right: 0, bottom: 0, left: 0 },
        w = 350 - padding.left - padding.right,
        h = 350 - padding.top - padding.bottom,
        r = Math.min(w, h) / 2,
        rotation = 0,
        oldrotation = 0,
        picked = 100000,
        oldpick = [];
    var data = [
        { "label": "SỔ TAY", "value": 1, "url": "/images/item/item-gift.png" },
        { "label": "SỔ TAY", "value": 2, "url": "/images/item/item-gift.png" },
        { "label": "SỔ TAY", "value": 3, "url": "/images/item/item-gift.png" },
        { "label": "SỔ TAY", "value": 4, "url": "/images/item/item-gift.png" },
        { "label": "SỔ TAY", "value": 5, "url": "/images/item/item-gift.png" },
        { "label": "SỔ TAY", "value": 6, "url": "/images/item/item-gift.png" },
        { "label": "SỔ TAY", "value": 7, "url": "/images/item/item-gift.png" },
        { "label": "SỔ TAY", "value": 8, "url": "/images/item/item-gift.png" },
    ];
    var svg = d3.select('#chart')
        .append("svg")
        .data([data])
        .attr("width", w + padding.left + padding.right)
        .attr("height", h + padding.top + padding.bottom);
    //add kim quay
    var imgArrow = svg.selectAll("image").data([0]);
    imgArrow.enter()
        .append("svg:image")
        .attr("x", "145")
        .attr("y", "-7")
        .attr("width", "60")
        .attr("height", "60")
        .attr("xmlns:xlink", "http://www.w3.org/1999/xlink")
        .attr("href", "/images/kim/kim-quay.png");
    //add vòng xoay
    var container = svg.append("g")
        .attr("class", "chartholder")
        .attr("transform", "translate(" + (w / 2 + padding.left) + "," + (h / 2 + padding.top) + ")");
    var vis = container
        .append("g");
    var pie = d3.layout.pie().sort(null).value(function (d) { return 1; });
    var arc = d3.svg.arc().outerRadius(r);
    var arcs = vis.selectAll("g.slice")
        .data(pie)
        .enter()
        .append("g")
        .attr("class", "slice");
    arcs.append("path")
        .attr("fill", function (d, i) {
            if (d.data.value % 2 == 0)
                return "#572468";
            else {
                return "#6e2e84";
            }
        })
        .attr("d", function (d) { return arc(d); });
     //add text item
    arcs.append("text").attr("transform", function (d) {
        d.innerRadius = 0;
        d.outerRadius = r;
        d.angle = (d.startAngle + d.endAngle) / 2;
        return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")translate(" + (d.outerRadius - 10) + ")";
    })
        .attr("text-anchor", "end")
        .attr("fill", "#fff")
        .attr("x", "-60")
        .attr("y", "0")
        .style({ "font-weight": "bold", "font-size": "10px", "fill": "#fff","cursor": "pointer" })
        .text(function (d, i) {
            return data[i].label;
        });
    //add img item
    arcs.append("svg:image")
        .attr("x", "-45")
        .attr("y", "-45")
        .attr("width", "45")
        .attr("height", "90")
        .attr("xmlns:xlink", "http://www.w3.org/1999/xlink")
        .attr("href", "images/item/item-gift.png")
        .attr("transform", function (d) {
            d.innerRadius = 0;
            d.outerRadius = r;
            d.angle = (d.startAngle + d.endAngle) / 2;
            return "rotate(" + (d.angle * 180 / Math.PI - 90) + ")translate(" + (d.outerRadius - 10) + ")";
        });
    //add buttun quay
    container.append("circle")
        .attr("class", "circle-wheel")
        .attr("cx", 0)
        .attr("cy", 0)
        .attr("r", 40)
        .style({ "fill": "white", "cursor": "pointer" });
    container.append("svg:image")
        .attr("class", "circle-wheel")
        .attr("x", "-45")
        .attr("y", "-46")
        .attr("width", "90")
        .attr("height", "90")
        .attr("xmlns:xlink", "http://www.w3.org/1999/xlink")
        .attr("href", "/images/kim/button-quay.png")
        .style({"cursor": "pointer" });
    //add text spin
    container.append("text")
        .attr("class", "circle-text")
        .attr("x", 0)
        .attr("y", 6)
        .attr("text-anchor", "middle")
        .text("QUAY")
        .style({ "font-weight": "bold", "font-size": "13px", "fill": "#f6cf2e", "text-shadow": "-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black","cursor" :"pointer" });
    $(".circle-wheel").on("click", spin);
    $(".circle-text").on("click", spin);
    var count = 0;
    function spin(d) {
        
        $(".circle-wheel").on("click", null);
        if (count > 0) {
            $(".circle-wheel").on("click", null);
            $("#out-of-turn-modal").modal();
            return;
        }
        $(".flash-wheel").addClass("hide-flash");
        var ps = 360 / data.length
         picked = 4;
         rotation = (data.length - picked) * ps + 3 * 360;
        rotation = rotation - Math.round(ps / 2);
        vis.transition()
            .duration(5000)
            .attrTween("transform", rotTween)
            .each("end", function () { // kết thúc vòng quay
                $(".flash-wheel").removeClass("hide-flash");
                d3.select(".slice:nth-child(" + (picked + 1) + ") path")
                    .attr("fill", "#481253");
                oldrotation = rotation;
                $(".circle-wheel").on("click", spin);
                $("#popup-success-modal").modal();
                var itemSuccess = data[picked];
                $(".text-info-receive > i").text(itemSuccess.label);
                $(".img-gift > img").attr("src", itemSuccess.url);
            });
        count++;
    }
    
    function rotTween(to) {
        var i = d3.interpolate(oldrotation % 360, rotation);
        return function (t) {
            return "rotate(" + i(t) + ")";
        };
    }
    $(function () {
        $("#out-of-turn").click(function () {
            $("#out-of-turn-modal").modal();
        });
        $("#popup-error").click(function () {
            $("#popup-error-modal").modal();
        });
        $("#popup-success").click(function () {
            $("#popup-success-modal").modal();
        });
        $("#popup-help").click(function () {
            $("#popup-help-modal").modal();
        });
    });

</script>