<div class="page-container-login">
    <div class="page-container-login_shadow">
        <div class="page-content">
            <div class="page-bar-content">
                <div class="row" style="margin:auto">
                    <div class="w-25" style="z-index:2" >
                        <div class="page-bar-content_img">
                            <img src="~/images/login/nhan-vat-nu.png" />
                        </div>
                    </div>
                    <div class="w-75" style="z-index:1">
                        <div class="page-bar-content_text">
                            <div class="page-bar-content_text__top">
                                <span>CHÀO MỪNG</span>
                                
                            </div>
                            <div class="page-bar-content_text__bot">
                                ĐẾN VŨ TRỤ LỚP HỌC MẬT NGỮ
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-info">
                <div class="row" style="background:url(/images/login/hieu-ung2.png)">
                    <div class="col-lg-12 col-xl-12" style="margin:auto">
                        <div class="img-wheel">
                            <img src="~/images/login/vong-quay.png" />
                        </div>
                    </div>
                    <div class="col-lg-12 col-xl-12" style="margin:auto">
                        <div class="text-info-login">
                            NHẬP THÔNG TIN
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-6 col-xl-6 pading-7" style="margin:auto">
                        <div class="input-info-login">
                            <div class="w-50 input-info-login_text">
                                Mã voucher
                            </div>
                            <div class="w-50 input-info-login_input">
                                <input class="w-100" placeholder="NTC112233" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xl-6 pading-7">
                        <div class="input-info-login">
                            <div class="w-50 input-info-login_text">
                                Họ & Tên
                            </div>
                            <div class="w-50 input-info-login_input">
                                <input class="w-100" placeholder="Nguyễn Văn A" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 pading-7">
                        <div class="input-info-login">
                            <div class="w-50 input-info-login_text">
                                Email
                            </div>
                            <div class="w-50 input-info-login_input">
                                <input class="w-100" placeholder="nguyenvana@gmail.com" />
                            </div>
                        </div>
                    </div>

                    
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xl-6 pading-7">
                        <div class="input-info-login">
                            <div class="w-50 input-info-login_text">
                                Ngày sinh
                            </div>
                            <div class="w-50 input-info-login_input">
                                <input class="w-100" placeholder="01/01/2010" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 pading-7">
                        <div class="input-info-login">
                            <div class="w-50 input-info-login_text">
                                Địa chỉ
                            </div>
                            <div class="w-50 input-info-login_input">
                                <input class="w-100" placeholder="Số 1 Hoàng Đạo Thúy" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xl-6 pading-7">
                        <div class="input-info-login">
                            <div class="w-50 input-info-login_text">
                                Giới tính
                            </div>
                            <div class="w-50 input-info-login_input">
                                <input class="w-100" placeholder="Nam/Nữ" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 pading-7">
                        <div class="input-info-login">
                            <div class="w-50 input-info-login_text">
                                Tỉnh/ TP
                            </div>
                            <div class="w-50 input-info-login_select">
                                <select>
                                    <option value="0">Chọn tỉnh/ thành phố</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-xl-6 pading-7">
                        <div class="input-info-login">
                            <div class="w-50 input-info-login_text">
                                SĐT
                            </div>
                            <div class="w-50 input-info-login_input">
                                <input class="w-100" placeholder="0987654321" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 pading-7">
                        <div class="input-info-login">
                            <div class="w-50 input-info-login_text">
                                Quận/ Huyện
                            </div>
                            <div class="w-50 input-info-login_input">
                                <input class="w-100" placeholder="Nam/Nữ" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="position:relative">
                    <div class="img-login-footer">
                        <img src="~/images/login/nhan-vat-nam.png" style="max-width:50%" />
                    </div>
                </div>
                <div class="row" style="margin-top:40px">
                    <div class="col-lg-12 col-xl-12" style="margin:auto">
                        <a href="javascrip:0" class="button-login" onclick="submitInfo()">
                            ĐĂNG NHẬP
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>

    body {
        margin-bottom: 0px;
    }

    .page-container-login {
        background: url("/images/login/background-login.png") no-repeat;
        height: 100vh;
        background-size: 100% 100%;
    }

    .container {
        max-width: 100%;
        padding: 0px;
    }

    .page-container-login_shadow {
        background: url("/images/login/backgound-nen.png") no-repeat;
        height: 100vh;
        background-size: 100% 100%;
    }

    .page-content {
        text-align: center;
        padding-top: 20px;
        padding-left: 25%;
        padding-right: 25%;
        margin:auto;
    }

    

    .page-bar-content_img {
        z-index: 2;
    }

        .page-bar-content_img > img {
            float: left;
        }
    @@media (min-width: 991px) {
        .page-bar-content_img > img {
            float: right;
            max-width: 50%;

        }
        .page-bar-content_text {
            width: 75%;
            position: absolute;
            text-align: left;
            top: 25px;
            left: calc(25% - 32px);
        }
        .page-bar-content {
            width: 100%;
            position: relative;
            margin-left:10%
        }
    }

    @@media (max-width: 991px) {
        .page-bar-content_img > img {
            float: right;
            max-width: 100%;
        }
        .page-bar-content_text {
            width: 75%;
            position: absolute;
            text-align: left;
            left: calc(25% - 24px);
        }
        .page-bar-content {
            width: 100%;
            position: relative;
        }
    }

    .page-bar-content_text__top {
        font-family: ObelixPro;
        color: #f6cf2e;
        font-size: 18px;
        width: 100px;
        background-color: #1d0052;
        border-radius: 6px;
        padding-left: 21px;
    }

    .page-bar-content_text__bot {
        font-family: ObelixPro;
        color: #fff;
        font-size: 18px;
        width: 230px;
        background-color: #1d0052;
        border-radius: 6px;
        padding-left: 21px;
        margin-top: -4px;
    }

    .img-wheel {
    }

        .img-wheel > img {
            max-width: 20%;
        }

    .text-info-login {
        font-family: UTMAVOBOLD;
        color: #fff;
        font-size: 15px;
        padding-top: 10px;
    }

    .input-info-login {
        background-color: #fff;
        border: 1px solid #ddd;
        height: 34px;
        min-width: 200px;
        border-radius: 17px 17px;
        display: flex;
    }

    .input-info-login_text {
        font-family: UTMAVO;
        font-size: 13px;
        padding: 6px 8px;
        color: black;
        font-weight: bold;
        text-align: left;
    }

    .input-info-login_input {
        font-family: UTMAVO;
        font-size: 13px;
        padding-right: 10px;
    }

        .input-info-login_input > input {
            border: none;
            padding: 6px;
        }

            .input-info-login_input > input:focus {
                outline: none;
            }
    .input-info-login_select > select {
        border: none;
        height: 32px;
        border-radius: 17px;
        width: 90%;
    }
    .input-info-login_select > select:focus {
        outline: none;
    }
    .pading-7 {
        padding: 7px;
    }
    .button-login {
        height: 34px;
        font-family: UTMAVOBOLD;
        font-size: 14px;
        color: white;
        background: url(/images/login/background-button.png) no-repeat;
        background-size: 100% 100%;
        padding-top: 6px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 13px;
        text-decoration: none;
        cursor: pointer;
    }
    a:hover {
        text-decoration: none !important;
        color: white !important;
    }
    .img-login-footer {
        position: absolute;
        right: -1px;
        top: -10px;
        right: -80px;
    }
</style>
<script>
    function submitInfo() {
        var model = {};
        $.ajax({
            url: "/api/rolling_codes/spins",
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(model),
            success: function (data) {
                console.log(data)
                setCookie("cookieReward", data.rewardOrdinal, 7);
                setTimeout(function () {
                    window.location.href = "/index";
                }, 300)
            },
            complete: function () {

            }
        });

    }
    function setCookie(name, value, days) {
        var expires;
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        }
        else {
            expires = "";
        }
        document.cookie = name + "=" + value + expires + "; path=/";
    }
</script>
